@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat";
  background-color: antiquewhite;
  margin: 20px;
}

.items {
  margin-top: 10px;
  margin-left: 50px;
  text-align: left;
}

img {
  margin-top: 20px;
  width: 200px;
}

p {
  font-size: 10px;
}
